/*
Theme Name:   MissTrendiMoletti
Description:  Miss Trendi Moletti theme
Author:       Honlap-profi
Author URL:   http://ruhashop.local
Template:     Divi
Version:      1.0
Text Domain:  MissTrendiMoletti
*/
/* Customgrid */
.hprow {
  display: block;
  clear: both;
}
.hprow .col-md-4 {
  width: 20%;
  float: left;
}
.hprow .col-md-8 {
  width: 80%;
  float: left;
}

/* Shop */
.woocommerce.columns-3 ul.products li.product {
	border: 1px solid #dedede;
  padding-top: 10px;
}
.et_pb_gutters3.et_left_sidebar.woocommerce-page
#main-content ul.products li.product, .et_pb_gutters3.et_right_sidebar.woocommerce-page
#main-content ul.products li.product {
  border: 1px solid #dedede;
  padding-top: 10px;
}
.woocommerce-product-gallery {
  border-color: #dedede;
  padding: 15px 10px 0 10px !important;
  padding-bottom: 10px !important;
  -webkit-box-shadow: 3px 3px 5px 3px #E6E6E6;
  box-shadow: 3px 3px 5px 3px #E6E6E6;
}
.woocommerce-page .quantity input.qty,
.woocommerce .quantity input.qty {
  background-color: transparent !important;
  border: 1px solid #dedede !important;
  color: #000 !important;
}
.single_add_to_cart_button {
  color: #ffffff !important;
  border-width: 0px !important;
  border-color: rgba(0,0,0,0);
  background-color: #ff7892 !important;
}
.woocommerce div.product p.price {
  color: #5A5A5A !important;
  margin-top: 15px;
  margin-bottom: 15px;
}
.woocommerce-variation-price .woocommerce-Price-amount {
  font-size: 25px !important;
}
.sku_wrapper {
  width: 100% !important;
  display: block;
}
.posted_in {
  width: 100% !important;
  display: block;
}
#custom_html-2 {
  margin-bottom: 20px !important;
}
.woocommerce-info {
  background-color: #ff7892 !important;  
}
.stock.available-on-backorder {
  font-size: 14px !important;
  margin-bottom: 10px;
}

/* Shop - Meret szuro */
.wpf-search-container .product {
  border: 1px solid #dedede !important;
  padding-top: 10px !important;
}
.wpf-search-container h2.woocommerce-loop-product__title {
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
  font-size: 17px !important;
  color: #3d3d3d !important;
  font-weight: 500!important;
  text-align: center;
}
.wpf-search-container .price {
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 500 !important;
  font-size: 17px !important;
  text-align: center;
}

/* Shop - Akcio */
.woocommerce-page span.onsale,
.woocommerce span.onsale {
  background-color: #ff3a61 !important;
}
.woocommerce-Price-amount.amount {
  color: #ff3a61 !important;
}

/* Shop - Kapcsolodo-termekek */
.related h2.woocommerce-loop-product__title {
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
  font-size: 17px !important;
  color: #3d3d3d !important;
  font-weight: 500!important;
  text-align: center;
}
.related .price {
  text-align: center;
}
.related .price .amount {
  font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 500 !important;
  font-size: 17px !important;
  text-align: center;
}
.stock.out-of-stock {
  padding-top: 5px !important;
  padding-bottom: 7px !important;  
  margin: 15px 0 15px;
  font-size: 20px !important;
  background-color: #ff3a61 !important;
  color: #fff !important;
  text-align: center;
}

/* Shop Legujabb termekeink*/
.et_pb_section_2 .woocommerce.columns-4 ul li {
  background-color: #fff;
  padding: 25px 0 !important;
  -webkit-box-shadow: 3px 3px 3px 3px #E3E3E3;
  box-shadow: 3px 3px 3px 3px #E3E3E3;
}

/* Vidget */
#sidebar .et_pb_widget {
  margin-bottom: 30px;
  width: 100%;
  float: left;
  display: block;
  clear: both;
}
.widgettitle {
  border-bottom: 3px solid #f7d584;
  margin-bottom: 10px;
}
/* Kosar */
.woocommerce-message {
  background-color: #ff7892 !important;
}
.wc-forward {
  color: #ff3a61 !important;  
}

/* Penztar */
#order_review_heading {
  margin-top: 50px;
  background-color: #f4f4f4;
  padding: 10px 0 9px 10px;
}
#payment {
  background-color: #f4f4f4 !important;
}
#surbma_hc_gdpr_checkout {
  margin-top: 50px;
}
#surbma_hc_gdpr_checkout h3 {
  background-color: #ff7892 !important;
  font-size: 20px;
  text-align: center;
  color: #fff;
  padding: 10px 0;
}
#surbma_hc_gdpr_checkout a {
  color: #ff7892 !important;
}